<!-- // 父组件可以在使用子组件的地方直接用 v-on 来监听子组件触发的事件。

// /* <div id="counter-event-example">
//   <p>{{ total }}</p>
//   <button-counter v-on:increment="incrementTotal"></button-counter>
//   <button-counter v-on:increment="incrementTotal"></button-counter>
// </div> */

Vue.component('button-counter', {
  template: '<button v-on:click="incrementCounter">{{ counter }}</button>',
  data: function () {
    return {
      counter: 0
    }
  },
  methods: {
    incrementCounter: function () {
      this.counter += 1
      this.$emit('increment')
    }
  },
})
new Vue({
  el: '#counter-event-example',
  data: {
    total: 0
  },
  methods: {
    incrementTotal: function () {
      this.total += 1
    }
  }
}

// /* 定制一样模板 不同显示数据 */

    // <div id="app">
    //     <c-h bt-n="hhahah"></c-h>
    //     <c-h bt-n="sdasdas"></c-h>
    // </div>
    
        let cH = {
            props: ['btN'],
            template: `<div>
                <input type="button" :value="btN">
                <span>{{btN}}</span>
                </div>
            `,
        }
        new Vue({
            el: "#app",
            data() {
                return {
                }
            },
            components: {
                cH
            }
        })


        /**
         * 父组件向子组件传值
         */
        <div>
            <div>父组件</div>
            <input type="button" value="按钮" @click="addD">
            <child :message="parentMsg"></child>
        </div>

    <script src="../note/vue.js"></script>
    <script>
        let child = {
            template: `<div>
        <div>{{message}}(子组件)</div>
        <div v-for='item in message'>{{item}}(子组件)</div>        
    </div>`,
            // props: {
            //     message: String
            // },
            props:['message'],
            data() {
                return {}
            }
        }
        var vm = new Vue({
            el: '#app1',
            data() {
                return {
                    parentMsg: []  //在data中定义需要传入的值
                }
            },
            components: {
                child
            },
            methods: {
                addD(){
                    this.parentMsg.push(1);
                }
            }
        }); -->
<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="vue.js"></script>
    <meta charset="UTF-8">
    <title>vue的props实现父组件变化子组件一起变化</title>
</head>

<body>
    <div id="app1">
        <div>
            <div>父组件</div>
            <input type="button" value="按钮" @click="addD">
            <child :message="parentMsg"></child>
        </div>

    </div>
    <script src="../vue.js"></script>
    <script>
        let child = {
            template: `<div>
                <div>{{message}}(子组件)</div>
                <div v-for='item in message'>{{item}}(子组件)</div>        
            </div>`,
            // props: {
            //     message: String
            // },
            props: ['message'],
            data() {
                return {}
            }
        }
        var vm = new Vue({
            el: '#app1',
            data() {
                return {
                    parentMsg: [1, 2, 3, 34, 5, 56, 6, 6, 7, 7]  //在data中定义需要传入的值
                }
            },
            components: {
                child
            },
            methods: {
                addD() {
                    this.parentMsg.push(1);
                }
            }
        });
    </script>
</body>

</html>